.container {
  position: relative;
  min-height: 100vh;
}

.header{
  text-align: center;
  background-color: #339272;
  margin: 0;
  color: white;
  padding: 20px;
  margin-bottom: 32px;
}

.main-body{
  margin: auto;
}

.list {
  list-style: none;
}

.draggable-item-container {
  display: inline-block;
  width: 30%;
  margin: 16px;
}

.draggable-item {
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0px 2px 16px 0px #e0dcdc;
}

@media screen and (min-width: 1600px) {
  .draggable-item {
    height: 300px;
  }
  .thumb-image {
    height: 264px;
  }
}

@media screen and (max-width: 1599px) {
  .draggable-item {
    height: 240px;
  }
  .thumb-image {
    height: 192px;
  }
}

.thumb-image {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.overlay-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.85)
}

.overlay-content {
  position: relative;
  width: 66%;
  margin: auto;
  height: 80vh;
  margin-top: 8vh;
}

.overlay-image {
  width: 100%;
  height: 86%;
  object-fit: contain;
  border-radius: 4px;
}

figcaption {
  margin-bottom: 10px;
  font-weight: 600;
}

.close-button {
  position: absolute;
  top: -8px;
  right: -68px;
}

.close-button img {
  width: 60px;
  height: 60px;
}
